/* sysconfig  */
table tr.user td { vertical-align: middle; text-align: center; }
table tr.user td.tdHead { background: #f9f9f9; text-align: center; }
table tr.user td form div.form-group { margin-bottom: 0; }

table.align tr td { text-align: left !important; }

.userTitle { float: left; }
.userBtnSearch { float: right; }

div.userList { margin-top: 100px; }

table.userList thead tr th { background: #f9f9f9; }
table.userList thead tr th, table.userList tbody tr td { vertical-align: middle; text-align: center; }

.userModify_noPad_L { padding-left: 0px !important; }
.userModify_noPad_R { padding-right: 0px; }

.userModify_noMar_B { margin-bottom: 0px; }
.userModify_noMar_L { margin-left: 0px !important; }

.tableNomargin { margin: 0px; }
.tableNopadding { padding: 0px !important; }


div.popTableChk { margin-top: 0px !important; margin-bottom: 0px !important; }
.userListPager { text-align: center; }

.noticeModalHeader { width: 95%; margin-left: 2.5%; padding: 12px 0;}
.searchModalHeader { width: 88%; margin-left: 5.5%; padding: 12px 0;}
.searchResultBox { overflow-y: auto; height: 200px; width: 93%; margin-left: 2.5%; border: 1px solid #f1f1f1; }
.searchResultTitle { margin-left: 2%; margin-top: 40px; }

.userResultBox { width: 98%; margin-left: 1%; }
.userTableBlock { position: relative; top: 7px; }
.select_96 { width: 96%; }
.compulsory { color: #ff7800; }

.c_blue { color: #31708f; }
.c_white { color: #FFFFFF; }
.bg_icoBG { background-color: #bfdbff; }

.border-rad { border: 1px solid #ddd !important; border-radius: 7px !important; padding: 10px 0 !important; background: #f9f9f9 !important; }

.pop_sub_title { font-size: 12px; }
.modal { padding-right: 0 !important; }

.pop_container { height: 200px; overflow-y: auto; }

.h_45 { height: 45px; }
.pt_5 { padding-top: 5px; }
.pt_10 { padding-top: 10px; }
.pl_15 { padding-left: 15px; }
.p-l-36 { padding-left: 36px!important; }
.pb_20 { padding-bottom: 20px; }
.pb_300 { padding-bottom: 300px !important; }
.txt_ct { text-align: center; }
.ml_15 { margin-left: 15px; }
.mt_10 { margin-top: 10px; }
.mt_4 { margin-top: 4px; }
.mt_50 { margin-top: 50px; }
.mt_150 { margin-top: 150px; }
.mb_10 { margin-bottom: 10px; }
.mb_20 { margin-bottom: 20px; }
.mb_30 { margin-bottom: 30px; }
.mb_200 { margin-bottom: 200px !important; }
.mt_m_20 { margin-top: -20px !important; }
.mt_m_8 { margin-top: -8px !important; }

.align_l { text-align: left !important; }
.align_c { text-align: center !important; }
.align_r { text-align: right !important; }

.b-t-line { border-top:1px solid #ccc;  }
.border { border: 1px solid #ddd; }
.no_line { border: none; border-color: #FFFFFF !important; }


.txt_raw_default { top: 6px; padding: 0; }
.col_width_5 { width: 5%; }
.customInputLabel { position: relative; display: inline-block; top: 3px; }

.codeTableBox { overflow-y: auto; height: 410px; width: 100%; }
.r_column { margin-top: 50px; }

.menuListBox { overflow-y: auto; height: 250px; width: 93%; }
.businessQueryBox { overflow-y: auto; height: 518px; width: 93%; }

table.tc thead tr th { background: #f9f9f9; }
table.tc thead tr th, table.tc tbody tr td { text-align: center; }
table.tc tbody tr td div { padding: 0; margin: 0; }

.noSeaarchResult { padding: 60px 0 !important; }
.divLine { margin: 50px 0 60px 0; border-top: 1px dashed #f1f1f1; }
.divLine_dash { border-bottom: 1px dashed #f1f1f1; }
.ipInputText { padding: 50px 0; }

.tableCover { height: 135px; overflow-x:hidden; overflow-y: auto; }


/**/
.input-group[class*=col-]{float:left; padding-right:0; padding-left:0}
.row_margin_0 { margin: 0 -15px; }
.input-sm { padding: 5px; }

@media (min-width: 768px){
	.modal_expand { width: 990px; }
	.modal_notice { width: 95%; }
}

.cdp_left_box { border: 1px solid #eee; }

.row>[class*=col-] { padding: 0 5px; }
.row .fl { padding: 5px 2px !important; }

.nav>li>a.pill { padding: 5px 15px !important; }


/* campaign */
.accodion-sm { margin: -10px !important; padding: 5px 10px !important; }

.stepsList { padding: 0 !important; margin: 0; background: #d9e0e7; }
.sidebar-minify-btn_left { margin: 10px 0; float: right; padding: 5px 20px 5px 10px!important; background: #1b1f24; color: #ffffff; border-radius: 20px 0 0 20px; }
.sidebar-minify-btn_right { margin: 10px 0; float: left; padding: 5px 20px 5px 10px!important; background: #1b1f24; color: #ffffff; border-radius: 0px 20px 20px 0px; }
.attrEditView { background: #f9f9f9; }
.p-9 { padding: 9px !important; }
.leftTab>li>a { padding: 5px 15px; }
.resultTable { display: none; }
.viewFlow { display: none; }

.dashed { border-bottom: 1px dashed #f1f1f1; padding-top:20px !important;  }
.grayLine { border-bottom: 1px solid #f1f1f1; padding-top:20px !important;  }
.subTab { background: #F1F1F1; }
.cusBadge { text-indent: -9999px; line-height: 0.8; }
.nav-pills>li.active>a.monitorTab { background: #337ab7; }

.batchTitle { padding: 10px 0px 10px 10px; background: #eee; }
.batchList { overflow-x: hidden; overflow-y:scroll; height: 200px; padding: 10px; }

.sqlRight { position: absolute; left: 190px; }
.segChk_1 { display: none; }

.guide { outline: 1px dashed red; }

.display-none { display: none; }
